<header class="bg-dark">
  <div class="container d-flex justify-content-between">
    <ul class="list-inline topbar">
      <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-facebook"></i></a></li>
      <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-twitter"></i></a></li>
      <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-instagram"></i></a></li>
      <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-youtube"></i></a></li>
      <span class="mx-1 mx-3">|</span>
      <li class="list-inline-item"><a class="text-white" routerLink="">Contact Us</a></li>
      <li class="list-inline-item"><a class="text-white" routerLink="">Donations</a></li>
    </ul>

    <ul class="ml-auto list-inline topbar">
      <li class="list-inline-item mr-4"><a class="text-white">Currency: <span class="text-primary">USD</span></a></li>
      <li class="list-inline-item"><a class="text-primary" routerLink="/signup"><i class="fa fa-lock"></i> Sign Up </a></li>
      <li class="list-inline-item">or</li>
      <li class="list-inline-item"><a class="text-white" routerLink="/login">Login</a></li>
    </ul>
  </div>

</header>

<nav class="navbar navbar-expand-lg navbar-light bg-white border bold">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/">
      <img class="img-fluid" src="../../assets/img/logo.png" width="100" alt="Logo">
      <span class="font-weight-bold ml-3">BW FOOTBALL CLUB</span>
   </a>
    <div class="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
        aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routeLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/news" routerLinkActive="active">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/result" routerLinkActive="active">Result</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/table" routerLinkActive="active">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/tips" routerLinkActive="active">Tips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/features" routerLinkActive="active">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routeLink="/about" routerLinkActive="active">About</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
