<!-- FOOTER -->
<footer class="footer bg-dark text-light mt-5">

  <div class="border-bottom py-3 bg-primary">
    <div class="container d-flex justify-content-between">
      <p class="my-auto lead">Never miss the action from your winning team</p>
      <button class="btn btn-primary text-uppercase font-weight-bold">
        Explore More
        <i class="ml-2 fa fa-chevron-right mr-auto"></i>
      </button>
    </div>
  </div>

  <div class="container d-flex justify-content-between py-5">
    <div class="col-6 col-md">
      <h5 class="text-white font-weight-bold mb-3">ABOUT US</h5>
      <ul class="list-unstyled">
        <li class="my-2"><a class="text-white text-small" href="#">Latest News</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Players Room</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Media GAllery</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Facebook</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5 class="text-white font-weight-bold mb-3">INFORMATION</h5>
      <ul class="list-unstyled">
        <li class="my-2"><a class="text-white text-small" href="#">Olympics</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">FIFA 2019</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">NBA 2019</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Boxing</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5 class="text-white font-weight-bold mb-3">SUPPORT</h5>
      <ul class="list-unstyled">
        <li class="my-2"><a class="text-white text-small" href="#">Terms and Conditions</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Privacy Policy</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Sitemap</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">FAQ</a></li>
        <li class="my-2"><a class="text-white text-small" href="#">Account</a></li>
      </ul>
    </div>

    <div class="justify-content-center col-12 col-md-5 my-auto">
      <a class="navbar-brand" routerLink="/">
        <img class="img-fluid" src="../../assets/img/logo.svg" alt="Logo">
        <span class="h4 ml-3 text-white">BW FOOTBALL CLUB</span>
      </a>
    </div>
  </div>

  <div class="py-3 bg-primary">
    <div class="container d-flex justify-content-between">
      <p class="my-auto">&copy; All rights Reserved 2019</p>
      <div class="col-5">
        <ul class="list-inline my-auto text-right">
          <li class="list-inline-item font-weight-bold mr-3">Follow Us: </li>
          <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a routerLink=""><i class="text-white fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>